<nav>
  <div class="left-nav">
    <ul>
      <li>
        @if(isAuth$ | async){
          <a routerLink="sauces" routerLinkActive="active">
            ALL SAUCES
          </a>
        }
      </li>
      <li>
        @if(isAuth$ | async){
          <a routerLink="new-sauce" routerLinkActive="active">
            ADD SAUCE
          </a>
        }
      </li>
    </ul>
  </div>
  <div class="logo">
    <div class="logo-image">
      <img alt="Flame logo" src="../../assets/images/flame.png">
    </div>
    <div class="logo-text">
      <h1>
        HOT TAKES
      </h1>
      <h5>
        THE WEB'S BEST HOT SAUCE REVIEWS
      </h5>
    </div>
  </div>
  <div class="right-nav">
    <ul>
      <li>
        @if(isAuth$ | async){
          <a routerLink="signup" routerLinkActive="active">
            SIGN UP
          </a>
        }
      </li>
      <li>
        @if(isAuth$ | async){
          <a routerLink="login" routerLinkActive="active">
            LOGIN
          </a>
        }
      </li>
      <li>
        @if(isAuth$ | async){
          <a (click)="onLogout()">
            LOGOUT
          </a>
        }
      </li>
    </ul>
  </div>
</nav>
