@if (loading) {
  <!-- <mat-spinner></mat-spinner> -->
  <p>Loading sauce...</p>
}
@if (sauce$ | async; as sauce) {
  <div class="sauce-container">
    <img [src]="sauce?.imageUrl" alt="" />
    <div class="sauce-info">
      <h1 class="sauce-name">{{ sauce?.name }}</h1>
      <p class="manufacturer">by {{ sauce?.manufacturer }}</p>
      <h3>Description</h3>
      <p>{{ sauce.description }}</p>
      @if (!likePending) {
        <div class="like-buttons">
          <div class="likes">
            <i
              [class]="{ 'fas liked': liked, far: !liked, disabled: disliked }"
              class="like fa-thumbs-up fa-lg"
              (click)="onLike()"
            ></i>
            <span>{{ sauce.likes }}</span>
          </div>
          <div class="dislikes">
            <i
              [class]="{
                'fas disliked': disliked,
                far: !disliked,
                disabled: liked,
              }"
              class="dislike fa-thumbs-down fa-lg"
              (click)="onDislike()"
            ></i>
            <span>{{ sauce.dislikes }}</span>
          </div>
        </div>
      } @else {
        <div class="like-pending">
          <!-- <mat-spinner class="white-spinner"></mat-spinner> -->
          <p>Updating...</p>
        </div>
      }
      <div class="control-buttons">
        <button mat-raised-button (click)="onBack()">BACK</button>
        @if (userId === sauce.userId) {
          <button mat-raised-button color="primary" (click)="onModify()">
            MODIFY
          </button>
          <button mat-raised-button color="warn" (click)="onDelete()">
            DELETE
          </button>
        }
      </div>
    </div>
  </div>
}
